p{
    text-align: center;
}

.files{
    display : flex;
    justify-content: space-between;
}

.files a{
    padding: 20px;
    font-weight: bold;
    color : #0041C2;
    background-color: lightskyblue;
    padding: 20px;
    border-radius: 5px;
}

.files a:hover{
    background-color: #0041C2;
    color: lightskyblue;
}