h1 {
    text-align: center;
}

ul {
    list-style: none;
}
.viewertable, th, td{
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

td {
    vertical-align: top;
    text-align: center;
    padding-left: 5em;
    padding-right: 5em;
}

div{
    text-align: center;
}

div p, td p {
    display: inline-block;
    padding: 0.3em;
    border-radius: 5px
}


