{% extends "basic.html" %}

{% block main %}
<h3>Fonctionnalités implémentées :</h3>
    <ul>
        <li>Utilisation de WikiNER pour la création de base de donnée utilisée pour la classification</li>
        <li>Upload de texte</li>
        <li>Exctraction des données d'un texte</li>
        <li>Classification d'un texte en 4 types : Personne, Localisation, Organisation, Autre</li>
        <li>Generation d'un tableau contenant les données classifiées du texte</li>
    </ul>
{% endblock %}