<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Projet Knowledge Acquisition — Entity Annotator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <h1>Entity Annotator</h1>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/entityviewer">Entity Viewer</a></li>
            <li><a href="/parser">Parser</a></li>
            <li><a href="/about">À propos</a></li>
        </ul>
    </nav>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>
        <p>Cette application a été réalisé par Lucas Tournière et Clément Vétillard.</p>
    </footer>
</body>
</html>