{% extends "basic.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='entityviewer.css') }}">
{% endblock %}

{% block main %}
<h1>{{ title }}</h1>

<div>
    <h3>Légende</h3>
    <p class="NOUN">Nom</p> <p class="PROPN">Nom Propre</p> <p class="VERB">Verbe</p>
    <p class="ADJ">Adjectif</p>
</div>

<table class="viewertable">
    <tr>
        <th>Personnes</th>
        <th>Localisations</th>
        <th>Organisations</th>
        <th>Autres</th>
    </tr>
    <tr>
        <td>
            {% for item in list[0] %}
            <p class="{{ item[0][1] }}">{{ item[0][0] }}</p>
            {% endfor %}
        </td>
        <td>
            {% for item in list[1] %}
            <p class="{{ item[0][1] }}">{{ item[0][0] }}</p>
            {% endfor %}
        </td>
        <td>
            {% for item in list[2] %}
            <p class="{{ item[0][1] }}">{{ item[0][0] }}</p>
            {% endfor %}
        </td>
        <td>
            {% for item in list[3] %}
            <p class="{{ item[0][1] }}">{{ item[0][0] }}</p>
            {% endfor %}
        </td>
    </tr>
</table>
<h3>texte utilisé :</h3>
<p>{{ list[4] }}</p>
{% endblock %}