{% extends "basic.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='entityviewerall.css') }}">
{% endblock %}

{% block main %}
<h2>Entity Viewer</h2>
<p>Choisissez un fichier pour avoir son analyse !</p>
<p>Vous pouvez ajouter un ficher grâce au <a href="/parser">parser</a></p>
<br>
<div class="files">
{% for title in files %}
    <a href="/entityviewer/{{title}}" > {{title}}  </a>
{% endfor %}
</div>
{% if error %} <p>{{ error }}</p> {% endif %}
{% endblock %}