{% extends "basic.html" %}
{% block main %}
    <form>
        <input class="n" id="n" type="number" min="2" max="5" value="n">
        <label for="n">Taille des n-grams</label>
        <label></label>
        {% for category in categories %}
            <input class="selector" type="checkbox" id="{{ category }}" value="{{ category }}">
            <label for="{{ category }}">{{ category }}</label>
        {% endfor %}
    </form>
    <div class="wrapper">
        <button>Générer</button>
    </div>
    <blockquote>
        <p>Astuce : vous pouvez modifier la longueur des phrases générées ainsi que le nombre en modifiant l'URL. Par
        exemple entrer <code>http://localhost:5000/gen/n/sport/10/8</code> pour générer 8 phrases de longueur 10.
        N'oubliez pas de remplacer n par un chiffre allant de 2 à 5 pour choisir la base des n-grams.</p>
        <p>Notez que la longueur est approximative.</p>
    </blockquote>
        {% for sentence in sentences %}
            <p>{{ sentence }}</p>
        {% endfor %}
    <script>
        let button = document.querySelector('button');
        let n = document.querySelector('#n');
        button.addEventListener("click", () => {
            let inputs = document.querySelectorAll('.selector');
            let url = [];
            inputs.forEach((input) => {
                if (input.checked) {
                    url.push(input.value);
                }
            });
            document.location.href="http://localhost:5000/gen/" + n.value + '/' + url.join('+');
        });
    </script>
{% endblock %}
