{% extends "basic.html" %}

{% block main %}
    <h2>Bienvenue dans notre <i title="Annotateur d'entité !">Entity Annotator</i> !</h2>
    <h3>le site possède deux outils que vous trouverez dans le menu</h3>
    <ul>
        <li><a href="/entityviewer">Entity Viewer</a> qui permet de visualiser, parmis les fichiers importés,
            une analyse des mots présents dans le texte et les classe par leurs entity tags.
        </li>
        <li>
            <a href="/parser">parser</a> qui permet de récupérer un fichier pour visualiser les
            informations de ce dernier. L'outil affiche les <i title="étiquettes morpho-syntaxiques">POS-Tags</i>
        </li>
    </ul>

{% endblock %}