{% extends "basic.html" %}

{% block main %}
    <h2>Parser</h2>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit">
    </form>

    <aside>
    <h3>Légende</h3>
    <p class="NOUN">Nom</p> <p class="PROPN">Nom Propre</p> <p class="VERB">Verbe</p>
    <p class="ADJ">Adjectif</p>
    </aside>

    <article>
    {% for datas in parsed %}
        <p class="{{ datas[1] }}" title="{{ datas[1] }}">{{ datas[0] }}</p>
    {% endfor %}
    </article>

{% endblock %}